.product-img {
    max-width: 100%;
    aspect-ratio: auto;
    max-height: 100%;
    object-fit: cover;
    /*  height: 100%;
    width: 100%; */
    border: 2px solid rgb(0, 0, 0);
}


.image-here {
    /* border: 5px solid red; */
    width: 100%;
    height: 350px;
}