@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .UserListScreen table td:nth-of-type(1):before {
        content: "ID";
    }

    .UserListScreen table td:nth-of-type(2):before {
        content: "NAME";
    }

    .UserListScreen table td:nth-of-type(3):before {
        content: "EMAIL";
    }

    .UserListScreen table td:nth-of-type(4):before {
        content: "IS ADMIN";
    }

    .UserListScreen table td:nth-of-type(5):before {
        content: "ACTION";
    }
}

.UserListScreen {
    font-family: 'Quicksand', sans-serif;
}